

.btn-informacao {
  border: none;
  width: 25px;
  height: 25px;
  background: none;
  color: white;
  font-weight: bold;
  font-size: 12.5px;
  cursor: pointer;
}

.btn-informacao-large {
  border: none;
  width: 40px;
  height: 40px;
  background: none;
  color: white;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  margin-right: 30px;
}

:deep(.popper) {
  background: #333333;
  padding: 20px;
  border-radius: 20px;
  color: #fff;
  font-weight: bold;
  font-family: 'Nunito', sans-serif;
  text-transform: uppercase;
}

:deep(.popper #arrow::before) {
  background: #333333;
}

:deep(.popper:hover),
:deep(.popper:hover > #arrow::before) {
  background: #333333;
}